@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

	*{
		margin: 0;
		padding: 0;
		font-family: 'Nanum Gothic', sans-serif;
	}
	li{
		list-style: none;
	}
	a{
		text-decoration: none;
		color: #666;
	}
	img{
		border: 0;
	}