<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.letter">

	<insert id="sendLetter" parameterType="LetterDto">
		INSERT INTO LETTER(L_SEQ,M_SEQ,GU_SEQ,L_REGDATE,L_SENDER,L_RECEIVER,L_TITLE,L_CONTS)
		VALUES(LETTER_SEQ.NEXTVAL,NULL,NULL,SYSDATE,#{l_sender},#{l_receiver},#{l_title},#{l_conts})
	</insert>

	<select id="letterlist" resultType="LetterDto">
		SELECT * FROM LETTER WHERE L_RECEIVER=#{l_receiver}
	</select>
	
	<select id="letterdetail" parameterType="int" resultType="LetterDto">
		SELECT * FROM LETTER WHERE L_SEQ=#{l_seq}	
	</select>
	
	
	<delete id="delLetter" parameterType="int">
		DELETE FROM LETTER WHERE L_SEQ=#{l_seq}
	</delete>
	
	<delete id="muldel" parameterType="Map">
	DELETE FROM LETTER WHERE L_SEQ IN
	<foreach collection="seqs" item="l_seq" open="(" close=")" separator="," >
		#{l_seq}
	</foreach>
	</delete>
	
</mapper>