<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.letter">
	<insert id="LETTERSEND">
		INSERT INTO LETTER(L_SEQ,M_SEQ,GU_SEQ,L_REGDATE,L_SENDER,L_RECEIVER,L_TITLE,L_CONTS)
		VALUES(LETTER_SEQ.NEXTVAL,NULL,NULL,SYSDATE,#{L_TITLE},#{L_CONTS})
		
		
  				<if test="M_SEQ != NULL">
  					M_SEQ=#{M_SEQ}	
  				</if>
  			
	</insert>

	<select id="LETTERLIST">
SELETE L_SEQ,L_SENDER,L_TITLE,L_REGDATE FROM LETTER WHERE L_RECEIVER='KKK@NAVER.COM
	</select>
	
	<select id="LETTERDETAIL">
		select L_SENDER,L_REGDATE,L_TITLE,L_CONTS FROM LETTER L_SEQ={L_SEQ}	
	</select>
	
	<delete id="LETTERDEL">
		DELETE LETTER WHRER L_SEQ={L_SEQ}
	</delete>
</mapper>