<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.login">

	<!-- 일반회원 회원가입 -->
	<insert id="minsertUser" parameterType="MEMBERSDto">
		INSERT INTO MEMBERS(M_SEQ,M_PW,M_STATUS,M_NAME,M_EMAIL,M_REGDATE,M_ACC) VALUES 
		(MEMBERS_SEQ.NEXTVAL,#{M_PW},'M',#{M_NAME},#{M_EMAIL},SYSDATE,NULL)
	</insert>
	
	<!-- 가이드 회원가입 -->
	<insert id="minsertUser" parameterType="MEMBERSDto">
		INSERT INTO GUIDE(GU_SEQ,GU_PW,GU_NAME,GU_PHONE,GU_EMAIL,GU_REGDATE,GU_APPFLAG,GU_IMG,GU_INTRO,GU_CAREER,GU_BANK,GU_ACC) VALUES 
		(GUIDE_SEQ.NEXTVAL,#{GU_PW},#{GU_NAME},#{GU_PHONE},#{GU_EMAIL},SYSDATE,'0',NULL,NULL,NULL,NULL,NULL)
	</insert>


</mapper>