<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.cash">
	<!-- 회원 상품 장바구니 담기 -->	
	<insert id="cart" parameterType="PayDto">
		INSERT INTO PAY
		(P_SEQ, G_SEQ, M_SEQ,
		P_COST, P_NUM, P_DATE,
		P_NAME, P_CONTS, P_IMG,
		P_MEET,P_FLAG) 
		VALUES
		(PAY_SEQ.NEXTVAL, #{g_seq},#{m_seq},
		#{p_cost},#{p_num},#{p_date},
		#{p_name},NULL,NULL,
		NULL,0)
	</insert>
	
	<!-- 회원의 결제내역 가져오기 -->
	<select id="getallpay" parameterType="int" resultType="PayDto">
		SELECT p.P_SEQ, p.G_SEQ, p.P_NAME, g.G_NAME,g.G_THUMBIMG, p.P_DATE, p.P_COST, p.P_NUM
		FROM PAY p, GOODS g WHERE M_SEQ=#{m_seq} AND P_FLAG=1 AND p.G_SEQ=g.G_SEQ ORDER BY P_SEQ DESC
	</select>
	
	<!-- 회원의 장바구니 가져오기 -->
	<select id="cartList" parameterType="int" resultType="PayDto">
		SELECT p.P_SEQ, p.G_SEQ,p.P_NAME, g.G_THUMBIMG, p.P_DATE, p.P_COST, p.P_NUM , p.G_SEQ, p.P_FLAG
		FROM PAY p, GOODS g WHERE M_SEQ=#{m_seq} AND P_FLAG=0 AND p.G_SEQ=g.G_SEQ ORDER BY P_SEQ DESC
	</select>
	
	<!-- 상품 결제 후 flag -->
	<insert id="pay" parameterType="PayDto">
		INSERT INTO PAY
		(P_SEQ, G_SEQ, M_SEQ,
		P_COST, P_NUM, P_DATE,
		P_NAME, P_CONTS, P_IMG,
		P_MEET,P_FLAG) 
		VALUES
		(PAY_SEQ.NEXTVAL, #{g_seq},#{m_seq},
		#{p_cost},#{p_num},#{p_date},
		#{p_name},NULL,NULL,
		NULL,1)
	</insert>
	
	<!-- 장바구니 결제 -->
	<update id="cartpay" parameterType="PayDto">
		UPDATE PAY SET P_FLAG=1 WHERE P_SEQ=#{p_seq}
	</update>
	
	<!-- review 쓰기위한 정보 -->
	<select id="review" parameterType="int" resultType="PayDto">
		SELECT p.G_SEQ, p.P_NAME, g.G_THUMBIMG, p.P_DATE, p.P_COST, p.P_NUM
		FROM PAY p, GOODS g WHERE P_SEQ=#{p_seq} AND P_FLAG=1 AND p.G_SEQ=g.G_SEQ ORDER BY P_SEQ DESC
	</select>
	
</mapper>