<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.review">

	<insert id="writereview" parameterType="ReviewDto">
		INSERT INTO REVIEW 
		(R_SEQ, M_SEQ, G_SEQ,
		R_CONTS, R_REGDATE, R_IMG,
		R_STAR, R_ANS, R_GUFLAG,R_MFLAG) 
		VALUES
		(REVIEW_SEQ.NEXTVAL ,#{m_seq}, #{g_seq},
		#{r_conts},SYSDATE,#{r_img},
		#{r_star},NULL,0,0)  
	</insert>
	
	
	
	
	<select id="reviewlist" parameterType="int" resultType="ReviewDto">
	select r.r_star,m.m_name,r.r_regdate,r.r_conts,r.r_img,r.r_ans from review r,Members m where r.g_seq=#{g_seq} and r.m_seq = m.m_seq
	</select>
	
	<select id="reviewphoto" resultType="ReviewDto">
	select g_seq, r_img from review where NOT r_img is NULL
	</select>
	
	<select id="star1" parameterType="int" resultType="int">
	select count(*) from review where r_star=1 and g_seq=#{g_seq}
	</select>
	
	<select id="star2" parameterType="int" resultType="int">
	select count(*) from review where r_star=2 and g_seq=#{g_seq}
	</select>
	
	<select id="star3" parameterType="int" resultType="int">
	select count(*) from review where r_star=3 and g_seq=#{g_seq}
	</select>
	
	<select id="star4" parameterType="int" resultType="int">
	select count(*) from review where r_star=4 and g_seq=#{g_seq}
	</select>
	
	<select id="star5" parameterType="int" resultType="int">
	select count(*) from review where r_star=5 and g_seq=#{g_seq}
	</select>
	
	<!-- 별 평균  -->
	<select id="staravg" parameterType="int" resultType="String">
	select avg(r_star) from review where g_seq=#{g_seq}
	</select>

	<!-- 가이드 후기 않단 리스트 뽑기 -->
	<select id="guidenoreview" parameterType="int" resultType="ReviewDto">
	SELECT * FROM REVIEW R , MEMBERS M, GOODS G, GUIDE GU 
	WHERE R.M_SEQ=M.M_SEQ AND R.G_SEQ=G.G_SEQ AND R.R_GUFLAG = 0 AND G.GU_SEQ=GU.GU_SEQ AND G.GU_SEQ=#{gu_seq}
	</select>

	<!-- 답글 달 후기 -->
	<select id="getreview" parameterType="int" resultType="ReviewDto" >
	select * from review where r_seq=#{r_seq} 
	</select>

	<!-- 가이드 후기달기 -->
	<update id="insertgreview" parameterType="ReviewDto" >
		UPDATE REVIEW SET R_ANS=#{r_ans} , r_guflag=1 where r_seq=#{r_seq}
	</update>



</mapper>